[submodule "Lectures/Class_Materials/Python_Basics"]
	path = Lectures/Class_Materials/Python_Basics
	url = https://github.com/NoraHussain/Python-Course.git
[submodule "Lectures/Class_Materials/data_sources"]
	path = Lectures/Class_Materials/data_sources
	url = https://github.com/NoraHussain/data-source.git
[submodule "Lectures/Class_Materials/sql_fundamentals"]
	path = Lectures/Class_Materials/sql_fundamentals
	url = https://github.com/NoraHussain/sql-fundamentals.git
[submodule "Lectures/Class_Materials/fast_api_basic_demo"]
	path = Lectures/Class_Materials/fast_api_basic_demo
	url = https://github.com/NoraHussain/fast_api_project.git
[submodule "Lectures/learning_projects/simple_supermartket_pipeline_project"]
	path = Lectures/learning_projects/simple_supermartket_pipeline_project
	url = https://github.com/Mr-NumberOne/Data-Engineering--A-Simple-Supermarket-Data-Pipeline.git
